<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<title>{% if post.title %}{{ post.title }} | {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

<link rel="stylesheet" href="reveal.js/v4.2.0/dist/reset.css">
<link rel="stylesheet" href="reveal.js/v4.2.0/dist/reveal.css">
<link rel="stylesheet" href="reveal.js/v4.2.0/dist/theme/moon.css">

<!-- Style to get the links in each post to display correctly -->
<style>
	#link-container {
		display: flex;
		flex-direction: row;
		margin-top: 50px;
	}

	#link-container>.link-container-item {
		flex: 1;
	}
</style>